<form name="confirmForm" (ngSubmit)="confirm(sellContract.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.confirm.title">confirm confirm operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="niopdcgatewayApp.sellContract.confirm.question" [translateValues]="{id: sellContract.contractNo}">Are you sure you want to confirm this Sell Contract?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.confirm">Confirm</span>
        </button>
    </div>
</form>
