<form name="deleteForm" (ngSubmit)="confirmDelete(voucherMaster.id,voucherMaster.description)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.confirm.title">Confirm delete operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="niopdcgatewayApp.voucherMaster.confirm.question"
           [translateValues]="{id: voucherMaster.id}">Are you sure you want to delete this Voucher Master?</p>

        <div class="form-group col-md-6">
            <label class="form-control-label"><span jhiTranslate="niopdcgatewayApp.voucherMaster.confirm.description"></span> </label>
            <textarea placeholder="{{'niopdcgatewayApp.voucherMaster.confirm.descriptionPlaceHolder' | translate}}" minlength="3"  class="form-control ng-untouched ng-pristine ng-invalid" id="field_keyMap_value" name="keyMap" type="text" [(ngModel)]="voucherMaster.description">

            </textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-check"></span>&nbsp;<span jhiTranslate="entity.action.confirm">Delete</span>
        </button>
    </div>
</form>
