<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.productRateDifferencePayment.home.title">Product Rate Difference Payments</span>
        <button class="btn btn-primary float-right jh-create-entity create-product-rate-difference-payment" [routerLink]="['/', { outlets: { popup: ['product-rate-difference-payment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.productRateDifferencePayment.home.createLabel">
            Create new Product Rate Difference Payment
            </span>
        </button>
    </h2>
    <jhi-alert-success></jhi-alert-success>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="productRateDifferencePayments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="paymentId"><span jhiTranslate="niopdcgatewayApp.productRateDifferencePayment.paymentId">Payment Id</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="niopdcgatewayApp.productRateDifferencePayment.price">Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="data"><span jhiTranslate="niopdcgatewayApp.productRateDifferencePayment.data">Data</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="productRateDifferenceId"><span jhiTranslate="niopdcgatewayApp.productRateDifferencePayment.productRateDifference">Product Rate Difference</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productRateDifferencePayment of productRateDifferencePayments ;trackBy: trackId">
                <td><a [routerLink]="['../product-rate-difference-payment', productRateDifferencePayment.id ]">{{productRateDifferencePayment.id}}</a></td>
                <td>{{productRateDifferencePayment.paymentId}}</td>
                <td>{{productRateDifferencePayment.price}}</td>
                <td>{{productRateDifferencePayment.data | date:'medium'}}</td>
                <td>
                    <div *ngIf="productRateDifferencePayment.productRateDifferenceId">
                        <a [routerLink]="['../product-rate-difference', productRateDifferencePayment.productRateDifferenceId  ]" >{{productRateDifferencePayment.productRateDifferenceId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../product-rate-difference-payment', productRateDifferencePayment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-rate-difference-payment/'+ productRateDifferencePayment.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product-rate-difference-payment/'+ productRateDifferencePayment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="productRateDifferencePayments && productRateDifferencePayments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
