
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="loanPayment.id==null" class="modal-title" id="createLabel"
            jhiTranslate="entity.action.create">
            Create</h4>
        <h4 *ngIf="loanPayment.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="entity.action.edit">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="entity.action.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.loanPayment.paymentId" for="field_paymentId">Payment Id</label>
                    <input [disabled]="isView" type="number" class="form-control" name="paymentId" id="field_paymentId"
                        [(ngModel)]="loanPayment.paymentId" required />
                    <div [hidden]="!(editForm.controls.paymentId?.dirty && editForm.controls.paymentId?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.paymentId?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.paymentId?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.loanPayment.price" for="field_price">Price</label>
                    <input [disabled]="isView" type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="loanPayment.price" required />
                    <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.price?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.price?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.loanPayment.data" for="field_data">Data</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="isView" [rtlActive]="true" time="00:00:00" [disableTime]="true"
                                            id="field_data" class="form-control"
                                            name="data" [(ngModel)]="loanPayment.data"
                        required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.data?.dirty && editForm.controls.data?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.data?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.data?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.loanPayment.loan" for="field_loan">Loan</label>
                    <select class="form-control" id="field_loan" name="loan" [(ngModel)]="loanPayment.loanId"  required>
                        <option *ngIf="!editForm.value.loan" [ngValue]="null" selected></option>
                        <option [ngValue]="loanOption.id" *ngFor="let loanOption of loans; trackBy: trackLoanById">{{loanOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.loan?.dirty && editForm.controls.loan?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.loan?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.loanPayment.billItem" for="field_billItem">Bill Item</label>
                    <!--<select class="form-control" id="field_billItem" name="billItem" [(ngModel)]="loanPayment.billItemId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="billItemOption.id" *ngFor="let billItemOption of billitems; trackBy: trackBillItemById">{{billItemOption.id}}</option>
                    </select>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
