<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="transportContract.id==null" class="modal-title" id="createLabel"
            jhiTranslate="niopdcgatewayApp.transportContract.home.createLabel">
            Create</h4>
        <h4 *ngIf="transportContract.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="niopdcgatewayApp.transportContract.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel"
            jhiTranslate="niopdcgatewayApp.transportContract.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.transportContract.contractCode"
                           for="field_contractCode"
                           maxlength="40">Contract Code</label>
                    <input [disabled]="isView" type="text" class="form-control" name="contractCode"
                           id="field_contractCode"
                           [(ngModel)]="transportContract.contractCode" required/>
                    <div [hidden]="!(editForm.controls.contractCode?.dirty && editForm.controls.contractCode?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contractCode?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.contractCode?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4 }">
                            This field cannot be longer than 4 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.transportContract.startDate"
                           for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disableTime]="true" [disabled]="isView" [rtlActive]="true" time="00:00:00"
                                            id="field_startDate"
                                            class="form-control"
                                            name="startDate" [(ngModel)]="transportContract.startDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.startDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.startDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.transportContract.finishDate"
                           for="field_finishDate">Finish Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disableTime]="true" [disabled]="isView" [rtlActive]="true" time="23:59:59"
                                            id="field_finishDate"
                                            class="form-control"
                                            name="finishDate" [(ngModel)]="transportContract.finishDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.finishDate?.dirty && editForm.controls.finishDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.finishDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.finishDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12" *ngIf="customer">
                <label jhiTranslate="niopdcgatewayApp.transportContract.person"
                       for="field_person">Person</label>
                <app-person-selector widthGrid="600px"
                                     [selectObject]="false"
                                     [personGroup]="'CONTRACTOR'"
                                     (selectedItem)="personSelected($event)"
                                     [(ngModel)]="transportContract.personId" required
                                     [disabled]="isView"

                                     class="form-control" id="field_person" name="person">
                </app-person-selector>
                <div
                    [hidden]="!(editForm.controls.person?.dirty && editForm.controls.person?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.person?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
