<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="mainDayDepot.id==null" class="modal-title" id="createLabel"
            jhiTranslate="niopdcgatewayApp.mainDayDepot.home.createLabel">
            Create</h4>
        <h4 *ngIf="mainDayDepot.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="niopdcgatewayApp.mainDayDepot.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="niopdcgatewayApp.mainDayDepot.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <form #myform>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="file" name="file" id="carFile" (change)="onChangeCarFile($event)"
                               *jhiHasAnyAuthority="['ROLE_ADMIN', 'CREATE_MAIN_DAY_DEPOT']"
                               style="visibility: hidden">
                        <label for="carFile" class="form-control btn btn-primary float-left create-entity"
                               *jhiHasAnyAuthority="['ROLE_ADMIN', 'CREATE_MAIN_DAY_DEPOT']"
                               style="margin-left: 20px"> بارگزاری فایل نفت کش ها</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="file" name="file" id="personFile" (change)="onChangePersonFile($event)"
                               *jhiHasAnyAuthority="['ROLE_ADMIN', 'CREATE_MAIN_DAY_DEPOT']"
                               style="visibility: hidden">
                        <label for="personFile" class="form-control btn btn-primary float-left create-entity"
                               *jhiHasAnyAuthority="['ROLE_ADMIN', 'CREATE_MAIN_DAY_DEPOT']"
                               style="margin-left: 20px">بارگزاری فایل پیمانکار ها</label>
                    </div>
                </div>
            </div>

        </form>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.mainDayDepot.refuelCenter"
                           for="field_refuelCenter">RefuelCenter</label>
                    <select class="form-control" id="field_refuelCenter" name="refuelCenter"
                            [disabled]="isView || isEdit"
                            [(ngModel)]="mainDayDepot.refuelCenterId" required>
                        <option *ngIf="!editForm.value.refuelCenter" [ngValue]="null" selected></option>
                        <option [ngValue]="refuelCenterOption.id"
                                *ngFor="let refuelCenterOption of refuelCenters; trackBy: trackRefuelCenterById">
                            {{refuelCenterOption.persianTitle}}
                        </option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.refuelCenter?.dirty && editForm.controls.refuelCenter?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.refuelCenter?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.mainDayDepot.day"
                           for="field_day">Day</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="true" [rtlActive]="true"
                                            [disableTime]="true"
                                            id="field_day" class="form-control"
                                            name="day" [(ngModel)]="mainDayDepot.day"
                                            time="00:00"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.day?.dirty && editForm.controls.day?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.day?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.day?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12">

                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="niopdcgatewayApp.mainDayDepot.description"
                           for="field_description">Description</label>
                    <textarea [disabled]="isView" type="text" class="form-control" name="description"
                              id="field_description"
                              [(ngModel)]="mainDayDepot.description" minlength="3" maxlength="200">
                        </textarea>
                    <div
                        [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                            This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancelShort">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.saveShort">Save</span>
        </button>
    </div>
</form>
