
<div *ngIf="stakeholder">
    <h2><span jhiTranslate="niopdcgatewayApp.stakeholder.detail.title">Stakeholder</span> {{stakeholder.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="niopdcgatewayApp.stakeholder.sharePercent">Share Percent</span></dt>
        <dd>
            <span>{{stakeholder.sharePercent}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.stakeholder.stakeholderType">Stakeholder Type</span></dt>
        <dd>
            <span jhiTranslate="{{'niopdcgatewayApp.StakeholderType.' + stakeholder.stakeholderType}}">{{stakeholder.stakeholderType}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.stakeholder.company">Company</span></dt>
        <dd>
            <div *ngIf="stakeholder.companyId">
                <a [routerLink]="['/person', stakeholder.companyId]">{{stakeholder.companyName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.stakeholder.person">Person</span></dt>
        <dd>
            <div *ngIf="stakeholder.personId">
                <a [routerLink]="['/person', stakeholder.personId]">{{stakeholder.personName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'stakeholder/'+ stakeholder.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
