<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="dayDepot.id==null" class="modal-title" id="createLabel"
            jhiTranslate="niopdcgatewayApp.dayDepot.home.createLabel">
            Create</h4>
        <h4 *ngIf="dayDepot.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="niopdcgatewayApp.dayDepot.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="niopdcgatewayApp.dayDepot.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.oilTank"
                           for="field_oilTank">Oil
                        Tank</label>
                    <input [disabled]="true" class="form-control" id="field_oilTank" name="oilTank"
                           [(ngModel)]="dayDepot.oilTankTitle"
                    />
                </div>
                <div [hidden]="!(editForm.controls.oilTank?.dirty && editForm.controls.oilTank?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.oilTank?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.natureDeductible"
                           for="field_natureDeductible">Nature Deductible</label>
                    <input [disabled]="true" type="number" class="form-control" name="natureDeductible"
                           id="field_natureDeductible"
                           [(ngModel)]="dayDepot.natureDeductible" required/>
                    <div
                        [hidden]="!(editForm.controls.natureDeductible?.dirty && editForm.controls.natureDeductible?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.natureDeductible?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.natureDeductible?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.natureAddition"
                           for="field_natureAddition">Nature Addition</label>
                    <input [disabled]="true" type="number" class="form-control" name="natureAddition"
                           id="field_natureAddition"
                           [(ngModel)]="dayDepot.natureAddition" required/>
                    <div
                        [hidden]="!(editForm.controls.natureAddition?.dirty && editForm.controls.natureAddition?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.natureAddition?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.natureAddition?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="niopdcgatewayApp.dayDepot.receivedNatureSystemAmount"
                           for="field_receivedNatureSystemAmount">Nature System Amount</label>
                    <input [disabled]="true" type="number" class="form-control" name="receivedNatureSystemAmount"
                           id="field_receivedNatureSystemAmount"
                           [(ngModel)]="dayDepot.receivedNatureSystemAmount" required/>
                    <div
                        [hidden]="!(editForm.controls.receivedNatureSystemAmount?.dirty && editForm.controls.receivedNatureSystemAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedNatureSystemAmount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedNatureSystemAmount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.sendNatureSystemAmount"
                           for="field_sendNatureSystemAmount">Nature System Amount</label>
                    <input [disabled]="true" type="number" class="form-control" name="sendNatureSystemAmount"
                           id="field_sendNatureSystemAmount"
                           [(ngModel)]="dayDepot.sendNatureSystemAmount" required/>
                    <div
                        [hidden]="!(editForm.controls.sendNatureSystemAmount?.dirty && editForm.controls.sendNatureSystemAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendNatureSystemAmount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendNatureSystemAmount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.sixtyDeductible"
                           for="field_sixtyDeductible">Sixty Deductible</label>
                    <input [disabled]="true" type="number" class="form-control" name="sixtyDeductible"
                           id="field_sixtyDeductible"
                           [(ngModel)]="dayDepot.sixtyDeductible" required/>
                    <div
                        [hidden]="!(editForm.controls.sixtyDeductible?.dirty && editForm.controls.sixtyDeductible?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sixtyDeductible?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sixtyDeductible?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.sixtyAddition"
                           for="field_sixtyAddition">Sixty Addition</label>
                    <input [disabled]="true" type="number" class="form-control" name="sixtyAddition"
                           id="field_sixtyAddition"
                           [(ngModel)]="dayDepot.sixtyAddition" required/>
                    <div
                        [hidden]="!(editForm.controls.sixtyAddition?.dirty && editForm.controls.sixtyAddition?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sixtyAddition?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sixtyAddition?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.receivedSixtySystemAmount"
                           for="field_receivedSixtySystemAmount">Sixty System Amount</label>
                    <input [disabled]="true" type="number" class="form-control" name="receivedSixtySystemAmount"
                           id="field_receivedSixtySystemAmount"
                           [(ngModel)]="dayDepot.receivedSixtySystemAmount" required/>
                    <div
                        [hidden]="!(editForm.controls.receivedSixtySystemAmount?.dirty && editForm.controls.receivedSixtySystemAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedSixtySystemAmount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedSixtySystemAmount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.sendSixtySystemAmount"
                           for="field_sendSixtySystemAmount">Sixty System Amount</label>
                    <input [disabled]="true" type="number" class="form-control" name="sendSixtySystemAmount"
                           id="field_sendSixtySystemAmount"
                           [(ngModel)]="dayDepot.sendSixtySystemAmount" required/>
                    <div
                        [hidden]="!(editForm.controls.sendSixtySystemAmount?.dirty && editForm.controls.sendSixtySystemAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendSixtySystemAmount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendSixtySystemAmount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <ng-container
            *ngIf="dayDepot.oilTankOilTankType!==OilTankType[OilTankType.PLATFORM] && dayDepot.oilTankOilTankType!=OilTankType[OilTankType.PIPE]">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"
                        jhiTranslate="niopdcgatewayApp.dayDepot.home.start">
                    </h5>
                </div>
                <div class="card-block container">
                    <div class="row">
                        <div *ngIf="dayDepot.mainDayOperationId==null" class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.sixtyAmount"
                                       for="field_sixtyAmount">Sixty Amount</label>
                                <input [disabled]="true" type="number" class="form-control" name="sixtyAmount"
                                       id="field_sixtyAmount"
                                       [(ngModel)]="dayDepot.startMeasurementOilTankSixtyAmount" required/>
                                <div
                                    [hidden]="!(editForm.controls.sixtyAmount?.dirty && editForm.controls.sixtyAmount?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.sixtyAmount?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.sixtyAmount?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="dayDepot.mainDayOperationId==null && oilTank && oilTank.oilTankType !== OilTankType[OilTankType.CONTAMINATED]"
                            class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.specialWeight"
                                       for="field_specialWeight">Special Weight</label>
                                <input
                                    [disabled]="isView || haveOldDayDepot || dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                    pattern="(^(?:0)\.[0-9]+$|(1)|(0))" class="form-control"
                                    name="specialWeight"
                                    id="field_specialWeight"
                                    [(ngModel)]="dayDepot.startMeasurementOilTankSpecialWeight" required/>
                                <div
                                    [hidden]="!(editForm.controls.specialWeight?.dirty && editForm.controls.specialWeight?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.specialWeight?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.specialWeight?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dayDepot.mainDayOperationId==null" class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.environmentTemperature"
                                       for="field_environmentTemperature">Environment Temperature</label>
                                <input
                                    [disabled]="isView || haveOldDayDepot  ||  dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                    type="number" class="form-control"
                                    name="environmentTemperature"
                                    id="field_environmentTemperature"
                                    [(ngModel)]="dayDepot.startMeasurementOilTankEnvironmentTemperature" required/>
                                <div
                                    [hidden]="!(editForm.controls.environmentTemperature?.dirty && editForm.controls.environmentTemperature?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.environmentTemperature?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.environmentTemperature?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dayDepot.mainDayOperationId==null" class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.productTemperature"
                                       for="field_productTemperature">Product Temperature</label>
                                <input
                                    [disabled]="isView || haveOldDayDepot ||  dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                    type="number" class="form-control"
                                    name="productTemperature"
                                    id="field_productTemperature"
                                    [(ngModel)]="dayDepot.startMeasurementOilTankProductTemperature" required/>
                                <div
                                    [hidden]="!(editForm.controls.productTemperature?.dirty && editForm.controls.productTemperature?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.productTemperature?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.productTemperature?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.dayDepot.startMeasurementOilTankAmountDeep"
                                       for="field_description">Description</label>
                                <ng-container *ngIf="dayDepot.oilTankOilTankType!=='SERVICE_TANK'">
                                    <select
                                        [disabled]="isView || haveOldDayDepot"
                                        class="form-control"
                                        *ngIf="oilTank && oilTank.measureType===MeasureType[MeasureType.NORMAL]"
                                        id="field_startMeasurementOilTankAmountDeep"
                                        name="startMeasurementOilTankAmountDeep"
                                        [(ngModel)]="dayDepot.startMeasurementOilTankAmountDeep"
                                        (ngModelChange)="onStartMeasurementOilTankAmountDeep($event)"
                                        required>
                                        <option *ngIf="!editForm.value.startMeasurementOilTankAmountDeep"
                                                [ngValue]="null"
                                                selected></option>
                                        <option [ngValue]="startMeasurementOilTankAmountDeepOption.millimeter"
                                                *ngFor="let startMeasurementOilTankAmountDeepOption of literatureVolumeOilTanks; trackBy: trackMeasurementOilTankAmountDeepById">
                                            {{startMeasurementOilTankAmountDeepOption.millimeter}}
                                        </option>
                                    </select>
                                    <input [disabled]="isView|| haveOldDayDepot "
                                           *ngIf="oilTank && oilTank.measureType===MeasureType[MeasureType.RATIO]"
                                           type="number"
                                           (blur)="onBlurStartDeep()"
                                           class="form-control" name="startMeasurementOilTankAmountDeepServiceTankRatio"
                                           id="field_startMeasurementOilTankAmountDeepServiceTankRatio"
                                           [(ngModel)]="dayDepot.startMeasurementOilTankAmountDeep"/>
                                </ng-container>
                                <input [disabled]="true"
                                       *ngIf="dayDepot.oilTankOilTankType==='SERVICE_TANK'"
                                       type="number"
                                       class="form-control" name="startMeasurementOilTankAmountDeepServiceTank"
                                       id="field_startMeasurementOilTankAmountDeepServiceTank"
                                       [(ngModel)]="dayDepot.startMeasurementOilTankAmountDeep"/>
                                <div
                                    [hidden]="!(editForm.controls.startMeasurementOilTankAmountDeep?.dirty && editForm.controls.startMeasurementOilTankAmountDeep?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.startMeasurementOilTankAmountDeep?.errors?.minlength"
                                           jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                        This field is required to be at least 3 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.startMeasurementOilTankAmountDeep?.errors?.maxlength"
                                           jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                                        This field cannot be longer than 200 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.dayDepot.startMeasurementOilTankAmount"
                                       for="field_description">Description</label>
                                <input [disabled]="true" type="number" class="form-control"
                                       name="startMeasurementOilTankAmount"
                                       id="field_startMeasurementOilTankAmount"
                                       [(ngModel)]="dayDepot.startMeasurementOilTankAmount"/>
                                <div
                                    [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.description?.errors?.minlength"
                                           jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                        This field is required to be at least 3 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.description?.errors?.maxlength"
                                           jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                                        This field cannot be longer than 200 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.dayDepot.startMeasurementOilTankRegisterDate"
                                       for="field_startMeasurementOilTankRegisterDate">Register Date</label>
                                <div class="d-flex">
                                    <ng2-datetimepicker [disabled]="isView || haveOldDayDepot" [rtlActive]="true"
                                                        time="00:00:00"
                                                        id="field_startMeasurementOilTankRegisterDate"
                                                        class="form-control"
                                                        name="startMeasurementOilTankRegisterDate"
                                                        [(ngModel)]="dayDepot.startMeasurementOilTankRegisterDate"
                                                        required></ng2-datetimepicker>
                                </div>
                                <div
                                    [hidden]="!(editForm.controls.registerDate?.dirty && editForm.controls.registerDate?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.registerDate?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.registerDate?.errors?.ZonedDateTimelocal"
                                           jhiTranslate="entity.validation.ZonedDateTimelocal">
                                        This field should be a date and time.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="align-items: center;display: flex">
                            <button name="refreshStart" type="button" (click)="refreshStart()"
                                    [disabled]="isView ||dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]">
                                <span class="fa fa-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0"
                        jhiTranslate="niopdcgatewayApp.dayDepot.home.end">
                    </h5>
                </div>
                <div class="card-block container">
                    <div class="row">
                        <div *ngIf="dayDepot.mainDayOperationId==null" class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.sixtyAmount"
                                       for="field_endSixtyAmount">Sixty Amount</label>
                                <input [disabled]="true" type="number" class="form-control" name="endSixtyAmount"
                                       id="field_endSixtyAmount"
                                       [(ngModel)]="dayDepot.endMeasurementOilTankSixtyAmount" required/>
                                <div
                                    [hidden]="!(editForm.controls.sixtyAmount?.dirty && editForm.controls.sixtyAmount?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.sixtyAmount?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.sixtyAmount?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div
                            *ngIf="dayDepot.mainDayOperationId==null && oilTank && oilTank.oilTankType !== OilTankType[OilTankType.CONTAMINATED]"
                            class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.specialWeight"
                                       for="field_endSpecialWeight">Special Weight</label>
                                <input
                                    [disabled]="isView || dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                    pattern="(^(?:0)\.[0-9]+$|(1)|(0))" class="form-control"
                                    name="sendSpecialWeight"
                                    id="field_endSpecialWeight"
                                    [(ngModel)]="dayDepot.endMeasurementOilTankSpecialWeight" required/>
                                <div
                                    [hidden]="!(editForm.controls.specialWeight?.dirty && editForm.controls.specialWeight?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.specialWeight?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.specialWeight?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dayDepot.mainDayOperationId==null" class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.environmentTemperature"
                                       for="field_endEnvironmentTemperature">Environment Temperature</label>
                                <input
                                    [disabled]="isView ||  dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                    type="number" class="form-control"
                                    name="endEnvironmentTemperature"
                                    id="field_endEnvironmentTemperature"
                                    [(ngModel)]="dayDepot.endMeasurementOilTankEnvironmentTemperature" required/>
                                <div
                                    [hidden]="!(editForm.controls.environmentTemperature?.dirty && editForm.controls.environmentTemperature?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.environmentTemperature?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.environmentTemperature?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="dayDepot.mainDayOperationId==null" class="col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.measurementOilTank.productTemperature"
                                       for="field_endProductTemperature">Product Temperature</label>
                                <input
                                    [disabled]="isView ||  dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                    type="number" class="form-control"
                                    name="endProductTemperature"
                                    id="field_endProductTemperature"
                                    [(ngModel)]="dayDepot.endMeasurementOilTankProductTemperature" required/>
                                <div
                                    [hidden]="!(editForm.controls.productTemperature?.dirty && editForm.controls.productTemperature?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.productTemperature?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.productTemperature?.errors?.number"
                                           jhiTranslate="entity.validation.number">
                                        This field should be a number.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.dayDepot.endMeasurementOilTankAmountDeep"
                                       for="field_description">Description</label>
                                <ng-container *ngIf="dayDepot.oilTankOilTankType!='SERVICE_TANK'">
                                    <select
                                        [disabled]="isView"
                                        class="form-control"
                                        *ngIf="oilTank && oilTank.measureType===MeasureType[MeasureType.NORMAL]"
                                        id="field_endMeasurementOilTankAmountDeep"
                                        name="endMeasurementOilTankAmountDeep"
                                        [(ngModel)]="dayDepot.endMeasurementOilTankAmountDeep"
                                        (ngModelChange)="onEndMeasurementOilTankAmountDeep($event)"
                                        required>
                                        <option *ngIf="!editForm.value.endMeasurementOilTankAmountDeep" [ngValue]="null"
                                                selected></option>
                                        <option [ngValue]="endMeasurementOilTankAmountDeepOption.millimeter"
                                                *ngFor="let endMeasurementOilTankAmountDeepOption of literatureVolumeOilTanks; trackBy: trackMeasurementOilTankAmountDeepById">
                                            {{endMeasurementOilTankAmountDeepOption.millimeter}}
                                        </option>
                                    </select>

                                    <input [disabled]="isView"
                                           *ngIf="oilTank && oilTank.measureType===MeasureType[MeasureType.RATIO]"
                                           type="number"
                                           (blur)="onBlurEndDeep()"
                                           class="form-control" name="endMeasurementOilTankAmountDeepServiceTankRatio"
                                           id="field_endMeasurementOilTankAmountDeepServiceTankRatio"
                                           [(ngModel)]="dayDepot.endMeasurementOilTankAmountDeep"/>
                                </ng-container>
                                <input *ngIf="dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]"
                                       [disabled]="true"
                                       type="number"
                                       class="form-control" name="endMeasurementOilTankAmountDeepServiceTank"
                                       id="field_endMeasurementOilTankAmountDeepServiceTank"
                                       [(ngModel)]="dayDepot.endMeasurementOilTankAmountDeep"/>
                                <div
                                    [hidden]="!(editForm.controls.endMeasurementOilTankAmountDeep?.dirty && editForm.controls.endMeasurementOilTankAmountDeep?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.endMeasurementOilTankAmountDeep?.errors?.minlength"
                                           jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                        This field is required to be at least 3 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.endMeasurementOilTankAmountDeep?.errors?.maxlength"
                                           jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                                        This field cannot be longer than 200 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.dayDepot.endMeasurementOilTankAmount"
                                       for="field_endMeasurementOilTankAmount">Description</label>
                                <input [disabled]="true" type="number" class="form-control"
                                       name="endMeasurementOilTankAmount"
                                       id="field_endMeasurementOilTankAmount"
                                       [(ngModel)]="dayDepot.endMeasurementOilTankAmount" minlength="3"
                                       maxlength="200"/>
                                <div
                                    [hidden]="!(editForm.controls.endMeasurementOilTankAmount?.dirty && editForm.controls.endMeasurementOilTankAmount?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.description?.errors?.minlength"
                                           jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                                        This field is required to be at least 3 characters.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.description?.errors?.maxlength"
                                           jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                                        This field cannot be longer than 200 characters.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <label class="form-control-label"
                                       jhiTranslate="niopdcgatewayApp.dayDepot.endMeasurementOilTankRegisterDate"
                                       for="field_endMeasurementOilTankDate">Register Date</label>
                                <div class="d-flex">
                                    <ng2-datetimepicker [disabled]="isView" [rtlActive]="true"
                                                        time="00:00:00"
                                                        id="field_endMeasurementOilTankDate"
                                                        class="form-control"
                                                        name="endMeasurementOilTankDate"
                                                        [(ngModel)]="dayDepot.endMeasurementOilTankRegisterDate"
                                                        required></ng2-datetimepicker>
                                </div>
                                <div
                                    [hidden]="!(editForm.controls.registerDate?.dirty && editForm.controls.registerDate?.invalid)">
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.registerDate?.errors?.required"
                                           jhiTranslate="entity.validation.required">
                                        This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           [hidden]="!editForm.controls.registerDate?.errors?.ZonedDateTimelocal"
                                           jhiTranslate="entity.validation.ZonedDateTimelocal">
                                        This field should be a date and time.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1" style="align-items: center;display: flex">
                            <button name="refreshEnd" type="button" (click)="refreshEnd()"
                                    [disabled]="isView || dayDepot.oilTankOilTankType===OilTankType[OilTankType.SERVICE_TANK]">
                                <span class="fa fa-refresh"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.dayDepot.description"
                           for="field_description">Description</label>
                    <textarea [disabled]="isView" class="form-control" name="description"
                              id="field_description"
                              [(ngModel)]="dayDepot.description" minlength="3" maxlength="200"></textarea>

                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                            This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancelShort">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.saveShort">Save</span>
        </button>
        <button *ngIf="!isView" type="button" (click)="save(true)" [disabled]="editForm.form.invalid || isSaving"
                class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.saveAndNextShort">Save</span>
        </button>
    </div>
</form>
