<form name="closeForm" (ngSubmit)="confirmOpen(mainDayOperation.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.close.title">Confirm close operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="niopdcgatewayApp.mainDayOperation.open.question"
           [translateValues]="{id: mainDayOperation.id}">Are you sure you want to update this Main Day
            Operation?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.openDay">Close</span>
        </button>
    </div>
</form>
