<div>
    <h2>
        <span jhiTranslate="niopdcgatewayApp.sealUse.home.title">Seal Uses</span>
        <button class="btn btn-primary float-right jh-create-entity create-seal-use" [routerLink]="['/', { outlets: { popup: ['seal-use-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="niopdcgatewayApp.sealUse.home.createLabel">
            Create new Seal Use
            </span>
        </button>
    </h2>
    <jhi-alert-success></jhi-alert-success>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="sealUses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sealNumber"><span jhiTranslate="niopdcgatewayApp.sealUse.sealNumber">Seal Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sealPrefix"><span jhiTranslate="niopdcgatewayApp.sealUse.sealPrefix">Seal Prefix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sealUseReason"><span jhiTranslate="niopdcgatewayApp.sealUse.sealUseReason">Seal Use Reason</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sealId"><span jhiTranslate="niopdcgatewayApp.sealUse.seal">Seal</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="wayBillId"><span jhiTranslate="niopdcgatewayApp.sealUse.wayBill">Way Bill</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sealUse of sealUses ;trackBy: trackId">
                <td><a [routerLink]="['../seal-use', sealUse.id ]">{{sealUse.id}}</a></td>
                <td>{{sealUse.sealNumber}}</td>
                <td>{{sealUse.sealPrefix}}</td>
                <td jhiTranslate="{{'niopdcgatewayApp.SealUseReason.' + sealUse.sealUseReason}}">{{sealUse.sealUseReason}}</td>
                <td>
                    <div *ngIf="sealUse.sealId">
                        <a [routerLink]="['../seal', sealUse.sealId  ]" >{{sealUse.sealId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sealUse.wayBillId">
                        <a [routerLink]="['../way-bill', sealUse.wayBillId  ]" >{{sealUse.wayBillId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../seal-use', sealUse.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'seal-use/'+ sealUse.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'seal-use/'+ sealUse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="sealUses && sealUses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
