<div>{{message}}</div>
<div *ngIf="disabled" style="max-height:200px;overflow:auto; padding:5px">
    <div *ngIf="oneSelection == true">
        {{(selectedLocation)?selectedLocation?.label:'موردی انتخاب نشده است.'}}
    </div>
    <div *ngIf="oneSelection == false">
        <ul *ngIf="selectedLocations && selectedLocations.length">
            <li *ngFor="let select of selectedLocations">
                {{select?.label}}
            </li>
        </ul>
        <div *ngIf="!selectedLocations || !selectedLocations.length">
            موردی انتخاب نشده است.
        </div>
    </div>
</div>
<div *ngIf="!disabled">
    <a *ngIf="(oneSelection && selectedLocation) || (!oneSelection && selectedLocations && selectedLocations.length)" class="ui-state-default" style="position: absolute; left: 15px;" (click)="clearSelected()">
        <span class="fa fa-fw fa-close"></span>
    </a>
    <p-tree *ngIf="oneSelection == true" selectionMode="single"
            (onNodeExpand)="nodeExpand($event)"
            [(selection)]="selectedLocation"
            (onNodeSelect)="nodeSelect($event)"
            [style]="{'max-height':'500px','overflow':'auto'}"
            [value]="locations">
    </p-tree>
    <p-tree *ngIf="oneSelection == false" selectionMode="checkbox" [propagateSelectionUp]="false"
            (onNodeExpand)="nodeExpand($event)"
            [(selection)]="selectedLocations"
            (onNodeSelect)="nodeSelect($event)"
            (onNodeUnselect)="nodeUnSelect($event)"
            [style]="{'max-height':'200px','overflow':'auto'}"
            [value]="locations">
    </p-tree>

</div>
