<div class="component">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <jhi-alert-success></jhi-alert-success>
    <br/>

    <div class="modal-body">
        <jhi-e-payment #ePayment [showButton]="false"
                       (status)="onPayStatus($event)"
                       (bankTransaction)="onBankTransaction($event)"
                       [requestIdentifier]="identifier"></jhi-e-payment>
    </div>
    <div class="modal-footer">
        <button type="button"
                class="btn btn-success"
                data-dismiss="modal"
                (click)="pay()"
                *ngIf="payStatus === 'BEGIN'"
        >
            <span class="fa fa-credit-card"></span>&nbsp;<span jhiTranslate="entity.action.pay">paymentFinal</span>
        </button>

        <button type="button"
                class="btn btn-success"
                data-dismiss="modal"
                (click)="againPay()"
                *ngIf="payStatus === 'PENDING' && bankTransaction"
        >
            <span class="fa fa-refresh"></span>&nbsp;<span jhiTranslate="niopdcgatewayApp.payment.again">again</span>
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                [routerLink]="['/product-rate-difference']"
        >
            <span class="fa fa-backward"></span>&nbsp;<span jhiTranslate="entity.action.back">back</span>
        </button>
    </div>
</div>
