<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="niopdcConfig.id==null" class="modal-title" id="createLabel"
            jhiTranslate="entity.action.create">
            Create</h4>
        <h4 *ngIf="niopdcConfig.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="entity.action.edit">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="entity.action.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.niopdcConfig.startDate"
                           for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="isView" [rtlActive]="true" time="00:00:00" id="field_startDate"
                                            class="form-control"
                                            name="startDate" [(ngModel)]="niopdcConfig.startDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.startDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.startDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.niopdcConfig.finishDate"
                           for="field_finishDate">Finish Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="isView" [rtlActive]="true" time="23:59:59" id="field_finishDate"
                                            class="form-control"
                                            name="finishDate" [(ngModel)]="niopdcConfig.finishDate"
                        ></ng2-datetimepicker>
                    </div>
                </div>
            </div>
            <div *ngIf="niopdcConfig.configType==='BOUNDARY_SELL'||niopdcConfig.configType==='NORMAL_SELL'" class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="niopdcgatewayApp.niopdcConfig.boundaryCurrencyRateGroupId"
                           for="field_boundaryCurrencyRateGroupId">Boundary Currency Rate Group Id</label>
                    <select class="form-control" id="field_boundaryCurrencyRateGroupId"
                            name="boundaryCurrencyRateGroupId"
                            [disabled]="isView"
                            [(ngModel)]="niopdcConfig.boundaryCurrencyRateGroupId">
                        <option [ngValue]="null"></option>
                        <option
                            *ngFor="let currencyRateGroupOption of currencyRateGroups; trackBy: trackCurrencyRateGroupById"
                            [ngValue]="currencyRateGroupOption.id">{{currencyRateGroupOption.title}}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="niopdcConfig.configType==='BOUNDARY_SELL'||niopdcConfig.configType==='NORMAL_SELL'" class="col-md-3">
                <label jhiTranslate="niopdcgatewayApp.niopdcConfig.boundaryCurrencies" for="field_product">product</label>
                <p-multiSelect
                    [disabled]="isView" class="form-control"
                    id="field_product"
                    [options]="currencies"
                    name="products"
                    [defaultLabel]="'global.messages.info.choose' | translate"
                    [selectedItemsLabel]="('global.messages.info.selectedItems' | translate)"
                    [(ngModel)]="niopdcConfig.boundaryCurrencies"
                    [ngModelOptions]="{standalone: true}"
                ></p-multiSelect>
            </div>
            <div *ngIf="niopdcConfig.configType==='NIOPDC_AO'" class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.transfer.transferType"
                           for="field_transferType">Transfer Type</label>
                    <select [disabled]="isView" class="form-control" id="field_transferType" name="transferType"
                            [(ngModel)]="niopdcConfig.transferTypeId"
                            required>
                        <option *ngIf="!editForm.value.transferType" [ngValue]="null" selected></option>
                        <option [ngValue]="transferTypeOption.id"
                                *ngFor="let transferTypeOption of transferTypes; trackBy: trackTransferTypeById">
                            {{transferTypeOption.title}}
                        </option>
                    </select>
                </div>
            </div>
            <div *ngIf="niopdcConfig.configType==='NIOPDC_AO'" class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.transfer.transferType"
                           for="field_transferTypeSelected">Transfer Type</label>
                    <p-multiSelect [disabled]="isView" class="form-control" id="field_transferTypeSelected"
                                   [options]="transfertypes"
                                   name="transferType"
                                   (onChange)="onChangeTransferType($event)"
                                   [defaultLabel]="'global.messages.info.choose' | translate"
                                   [selectedItemsLabel]="('global.messages.info.selectedItems' | translate)"
                                   [(ngModel)]="transferTypeSelected"
                                   [ngModelOptions]="{standalone: true}"
                    ></p-multiSelect>
                </div>
            </div>
            <div *ngIf="niopdcConfig.configType==='INVOICE'" class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.niopdcConfig.invoiceCounterOffset"
                           for="field_invoiceCounterOffset">Transfer Type</label>
                    <input type="number" [disabled]="isView" class="form-control" id="field_invoiceCounterOffset"
                                   name="invoiceCounterOffset"
                                   [(ngModel)]="niopdcConfig.invoiceCounterOffset"

                    >
                </div>
            </div>
            <div class="col-md-3">
                <label jhiTranslate="niopdcgatewayApp.niopdcConfig.configType" for="field_configType">product</label>
                <select [disabled]="isView" class="form-control" name="configType" (change)="onConfigChange()"
                        [(ngModel)]="niopdcConfig.configType" id="field_configType" required>
                    <option value="BOUNDARY_SELL">{{'niopdcgatewayApp.ConfigType.BOUNDARY_SELL' | translate}}</option>
                    <option value="NORMAL_SELL">{{'niopdcgatewayApp.ConfigType.NORMAL_SELL' | translate}}</option>
                    <option value="NIOPDC_AO">{{'niopdcgatewayApp.ConfigType.NIOPDC_AO' | translate}}</option>
                    <option value="INVOICE">{{'niopdcgatewayApp.ConfigType.INVOICE' | translate}}</option>

                </select>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
