<form name="revocationForm" (ngSubmit)="revocation(order.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.revocation.title">Confirm revocation operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p *ngIf="order.orderType === OrderType[OrderType.ORDER]"
           jhiTranslate="niopdcgatewayApp.order.revocation.question" [translateValues]="{id: order.orderNo}">Are you
            sure you want to revocation this Order?</p>
        <p *ngIf="order.orderType === OrderType[OrderType.AIRPLANE]"
           jhiTranslate="niopdcgatewayApp.fuelReceipt.revocation.question" [translateValues]="{id: order.orderNo}">
            Are you sure you want to revocation this Order?</p>
    </div>
    <div class="col-xs-12 col-md-12" *jhiHasAnyAuthority="['ROLE_ADMIN']">
        <div class="form-group">
            <input type="checkbox" class="form-control" name="force"
                   id="field_force"
                   [(ngModel)]="force"/>
            <label class="form-control-label" jhiTranslate="niopdcgatewayApp.order.revocation.force"
                   for="field_force">Force</label>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-close"></span>&nbsp;<span jhiTranslate="entity.action.revocation">Revocation</span>
        </button>
    </div>
</form>
