<div class="component">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <jhi-alert-success></jhi-alert-success>
    <br/>
    <div id="viewer" dir="ltr">

    </div>
</div>

<script src="/content/js/stimulsoft/stimulsoft.reports.js"></script>
<!--<script src="/content/js/stimulsoft/stimulsoft.designer.js"></script>-->
<script src="/content/js/stimulsoft/stimulsoft.viewer.js"></script>


<!-- end-pace-progress -->
<script src="/content/js/stimulsoft.reports.js"></script>
<script src="/content/js/stimulsoft.viewer.js"></script>
