<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="plaqueRule.id==null" class="modal-title" id="createLabel"
            jhiTranslate="entity.action.create">
            Create</h4>
        <h4 *ngIf="plaqueRule.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="entity.action.edit">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="entity.action.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.plaqueRule.priority"
                           for="field_priority">Priority</label>
                    <input [disabled]="isView" type="number" class="form-control" name="priority" id="field_priority"
                           [(ngModel)]="plaqueRule.priority" required/>
                    <div [hidden]="!(editForm.controls.priority?.dirty && editForm.controls.priority?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.priority?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.priority?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.plaqueRule.digit"
                           for="field_digit">Digit</label>
                    <input [disabled]="isView" type="number" class="form-control" name="digit" id="field_digit"
                           [(ngModel)]="plaqueRule.digit" required/>
                    <div [hidden]="!(editForm.controls.digit?.dirty && editForm.controls.digit?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.digit?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.digit?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.plaqueRule.digitType"
                           for="field_digitType">Digit Type</label>
                    <select [disabled]="isView" class="form-control" name="digitType" [(ngModel)]="plaqueRule.digitType"
                            id="field_digitType" required>
                        <option value="NUMBER">{{'niopdcgatewayApp.DigitType.NUMBER' | translate}}</option>
                        <option value="PERSIAN_WORD">{{'niopdcgatewayApp.DigitType.PERSIAN_WORD' | translate}}</option>
                        <option value="ENGLISH_WORD">{{'niopdcgatewayApp.DigitType.ENGLISH_WORD' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.digitType?.dirty && editForm.controls.digitType?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.digitType?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
