
<div *ngIf="salesCode">
    <h2><span jhiTranslate="niopdcgatewayApp.salesCode.detail.title">Sales Code</span> {{salesCode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="niopdcgatewayApp.salesCode.code">Code</span></dt>
        <dd>
            <span>{{salesCode.code}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.salesCode.receivedDate">Received Date</span></dt>
        <dd>
            <span>{{salesCode.receivedDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="niopdcgatewayApp.salesCode.person">Person</span></dt>
        <dd>
            <div *ngIf="salesCode.personId">
                <a [routerLink]="['/person', salesCode.personId]">{{salesCode.personId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sales-code/'+ salesCode.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
