<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="customerRating.id==null" class="modal-title" id="createLabel"
            jhiTranslate="niopdcgatewayApp.customerRating.home.createLabel">
            Create</h4>
        <h4 *ngIf="customerRating.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="niopdcgatewayApp.customerRating.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="niopdcgatewayApp.customerRating.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.customerRating.title"
                           for="field_title">Title</label>
                    <input [disabled]="isView" type="text" class="form-control" name="title" id="field_title"
                           [(ngModel)]="customerRating.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.title?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.customerRating.level"
                           for="field_level">Level</label>
                    <input [disabled]="isView" type="number" class="form-control" name="level" id="field_level"
                           [(ngModel)]="customerRating.level" required/>
                    <div [hidden]="!(editForm.controls.level?.dirty && editForm.controls.level?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.level?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.level?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.customerRating.fromDate"
                           for="field_fromDate">From Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="isView" [rtlActive]="true" time="00:00:00" id="field_fromDate"
                                            class="form-control"
                                            name="fromDate" [(ngModel)]="customerRating.fromDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.fromDate?.dirty && editForm.controls.fromDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fromDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fromDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.customerRating.toDate"
                           for="field_toDate">To
                        Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disabled]="isView" [rtlActive]="true" time="23:59:59" id="field_toDate"
                                            class="form-control"
                                            name="toDate" [(ngModel)]="customerRating.toDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.toDate?.dirty && editForm.controls.toDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.toDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.toDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.customerRating.fromScore"
                           for="field_fromScore">From Score</label>
                    <input [disabled]="isView" type="number" class="form-control" name="fromScore" id="field_fromScore"
                           [(ngModel)]="customerRating.fromScore" required/>
                    <div [hidden]="!(editForm.controls.fromScore?.dirty && editForm.controls.fromScore?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fromScore?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.fromScore?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.customerRating.toScore"
                           for="field_toScore">To Score</label>
                    <input [disabled]="isView" type="number" class="form-control" name="toScore" id="field_toScore"
                           [(ngModel)]="customerRating.toScore" required/>
                    <div [hidden]="!(editForm.controls.toScore?.dirty && editForm.controls.toScore?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.toScore?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.toScore?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label jhiTranslate="niopdcgatewayApp.customerRating.location" for="field_location">Location</label>
                    <!--<select class="form-control" id="field_location" multiple name="location"
                            [(ngModel)]="customerRating.locations">
                        <option [ngValue]="getSelected(customerRating.locations, locationOption)"
                                *ngFor="let locationOption of locations; trackBy: trackLocationById">
                            {{locationOption.name}}
                        </option>
                    </select>-->
                    <input-location-selector [disabled]="isView"
                                             class="form-control" required
                                             [(ngModel)]="customerRating.locations"
                                             id="field_location"
                                             name="location"
                                             [idSelector]="false"
                                             [selectOfLevel]="[0,1,2]"
                                             [selectByPriority]="true"
                    >
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
