<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="sendContainerProduct.id==null" class="modal-title" id="createLabel"
            jhiTranslate="niopdcgatewayApp.sendContainerProduct.home.createLabel">
            Create</h4>
        <h4 *ngIf="sendContainerProduct.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="niopdcgatewayApp.sendContainerProduct.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel"
            jhiTranslate="niopdcgatewayApp.sendContainerProduct.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.sendDate"
                           for="field_sendDate">Send Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disableTime]="true" [disabled]="isView" [rtlActive]="true" time="00:00:00"
                                            id="field_sendDate"
                                            class="form-control"
                                            name="sendDate" [(ngModel)]="sendContainerProduct.sendDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.sendDate?.dirty && editForm.controls.sendDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.receivedDate"
                           for="field_receivedDate">Received Date</label>
                    <div class="d-flex">
                        <ng2-datetimepicker [disableTime]="true" [disabled]="isView" [rtlActive]="true" time="00:00:00"
                                            id="field_receivedDate"
                                            class="form-control"
                                            name="receivedDate" [(ngModel)]="sendContainerProduct.receivedDate"
                                            required></ng2-datetimepicker>
                    </div>
                    <div [hidden]="!(editForm.controls.receivedDate?.dirty && editForm.controls.receivedDate?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedDate?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedDate?.errors?.ZonedDateTimelocal"
                               jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.sendAmount"
                           for="field_sendAmount">Send Amount</label>
                    <input [disabled]="isView" type="number" class="form-control" name="sendAmount"
                           id="field_sendAmount"
                           [(ngModel)]="sendContainerProduct.sendAmount" required/>
                    <div [hidden]="!(editForm.controls.sendAmount?.dirty && editForm.controls.sendAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendAmount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendAmount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="niopdcgatewayApp.sendContainerProduct.receivedAmount"
                           for="field_receivedAmount">Received Amount</label>
                    <input [disabled]="isView" type="number" class="form-control" name="receivedAmount"
                           id="field_receivedAmount"
                           [(ngModel)]="sendContainerProduct.receivedAmount" required/>
                    <div
                        [hidden]="!(editForm.controls.receivedAmount?.dirty && editForm.controls.receivedAmount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedAmount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedAmount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.sendCount"
                           for="field_sendCount">Send Count</label>
                    <input [disabled]="isView" type="number" class="form-control" name="sendCount" id="field_sendCount"
                           [(ngModel)]="sendContainerProduct.sendCount" required/>
                    <div [hidden]="!(editForm.controls.sendCount?.dirty && editForm.controls.sendCount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendCount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.sendCount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.receivedCount"
                           for="field_receivedCount">Received Count</label>
                    <input [disabled]="isView" type="number" class="form-control" name="receivedCount"
                           id="field_receivedCount"
                           [(ngModel)]="sendContainerProduct.receivedCount" required/>
                    <div
                        [hidden]="!(editForm.controls.receivedCount?.dirty && editForm.controls.receivedCount?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedCount?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.receivedCount?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.waybillNumber"
                           for="field_waybillNumber">Waybill Number</label>
                    <input [disabled]="true" type="text" class="form-control" name="waybillNumber"
                           id="field_waybillNumber"
                           [(ngModel)]="sendContainerProduct.waybillNumber" minlength="8" maxlength="8"/>
                    <div
                        [hidden]="!(editForm.controls.waybillNumber?.dirty && editForm.controls.waybillNumber?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.waybillNumber?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 8 }">
                            This field is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.waybillNumber?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 8 }">
                            This field cannot be longer than 8 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.inventoryId"
                           for="field_inventoryId">Inventory Id</label>
                    <input [disabled]="isView" type="number" class="form-control" name="inventoryId"
                           id="field_inventoryId"
                           [(ngModel)]="sendContainerProduct.inventoryId" required/>
                    <div [hidden]="!(editForm.controls.inventoryId?.dirty && editForm.controls.inventoryId?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.inventoryId?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.inventoryId?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.driverName"
                           for="field_driverName">Driver Name</label>
                    <input [disabled]="isView" type="text" class="form-control" name="driverName" id="field_driverName"
                           [(ngModel)]="sendContainerProduct.driverName" required minlength="3" maxlength="40"/>
                    <div [hidden]="!(editForm.controls.driverName?.dirty && editForm.controls.driverName?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.driverName?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.driverName?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.driverName?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                            This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.truckNumber"
                           for="field_truckNumber">Truck Number</label>
                    <input [disabled]="isView" type="text" class="form-control" name="truckNumber"
                           id="field_truckNumber"
                           [(ngModel)]="sendContainerProduct.truckNumber" required minlength="6" maxlength="6"/>
                    <div [hidden]="!(editForm.controls.truckNumber?.dirty && editForm.controls.truckNumber?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.truckNumber?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.truckNumber?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 6 }">
                            This field is required to be at least 6 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.truckNumber?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 6 }">
                            This field cannot be longer than 6 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.sendContainerProduct.truckSerial"
                           for="field_truckSerial">Truck Serial</label>
                    <input [disabled]="isView" type="text" class="form-control" name="truckSerial"
                           id="field_truckSerial"
                           [(ngModel)]="sendContainerProduct.truckSerial" required minlength="1" maxlength="40"/>
                    <div [hidden]="!(editForm.controls.truckSerial?.dirty && editForm.controls.truckSerial?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.truckSerial?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.truckSerial?.errors?.minlength"
                               jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                            This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.truckSerial?.errors?.maxlength"
                               jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }">
                            This field cannot be longer than 40 characters.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="form-group">
                    <label class="form-control-label"
                           jhiTranslate="niopdcgatewayApp.sendContainerProduct.oilTankContainer"
                           for="field_oilTankContainer">Oil Tank Container</label>
                    <select class="form-control" id="field_oilTankContainer" name="oilTankContainer"
                            [disabled]="isView"
                            [(ngModel)]="sendContainerProduct.oilTankContainerId" required>
                        <option *ngIf="!editForm.value.oilTankContainer" [ngValue]="null" selected></option>
                        <option [ngValue]="oilTankContainerOption.id"
                                *ngFor="let oilTankContainerOption of oiltankcontainers; trackBy: trackOilTankContainerById">
                            {{(oilTankContainerOption.productUnitTitle)?oilTankContainerOption.productUnitTitle:oilTankContainerOption.productTitle}}
                        </option>
                    </select>
                </div>
                <div
                    [hidden]="!(editForm.controls.oilTankContainer?.dirty && editForm.controls.oilTankContainer?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.oilTankContainer?.errors?.required"
                           jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancelShort">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.saveShort">Save</span>
        </button>
    </div>
</form>
