<div class="component">
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
    <jhi-alert-success></jhi-alert-success>
    <br/>
    <p-dataTable [sortField]="predicate" [sortOrder]="reverse ? -1 : 1" #dt [value]="receivedProducts" [lazy]="true"
                 [rows]="itemsPerPage"
                 [rowsPerPageOptions]="[5,10,20,totalItems]"
                 [paginator]="true" [responsive]="true" [stacked]="false"
                 [totalRecords]="totalItems" (onLazyLoad)="loadLazy($event)"
                 [emptyMessage]="'global.messages.info.emptyRecords' | translate">
        <p-header>
            <div class="ui-helper-clearfix">
                <ng-container *ngIf="mainDayDepot && editable">
                    <button class="btn btn-primary float-right create-entity"
                            *jhiHasAnyAuthority="['ROLE_ADMIN', 'CREATE_RECEIVED_PRODUCT']"
                            [routerLink]="['/', { outlets: { popup: ['received-product-new' , dayDepotId] } }]">
                        <span class="fa fa-plus"></span>
                        <span jhiTranslate="entity.action.createShort">Create</span>
                    </button>
                </ng-container>
            </div>
        </p-header>

        <p-headerColumnGroup>
            <p-row>
                <p-column field="receivedProductType" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span
                            jhiTranslate="niopdcgatewayApp.receivedProduct.receivedProductType">Received Product Type</span>
                    </ng-template>
                </p-column>
                <p-column field="productId" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="niopdcgatewayApp.receivedProduct.productId">Product Id</span>
                    </ng-template>
                </p-column>
                <p-column field="inventoryId" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="niopdcgatewayApp.receivedProduct.inventoryId">Inventory Id</span>
                    </ng-template>
                </p-column>
                <p-column field="receiveSixtyAmount" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span
                            jhiTranslate="niopdcgatewayApp.receivedProduct.receivedSixtyAmount">Receive Sixty Degree</span>
                    </ng-template>
                </p-column>
                <p-column field="sendSixtyAmount" [sortable]="true">
                    <ng-template pTemplate="header">
                        <span jhiTranslate="niopdcgatewayApp.receivedProduct.sendSixtyAmount">Send Sixty Degree</span>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button"></p-column>
            </p-row>
            <p-row>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" name="receivedProductType" (change)="search()"
                                [(ngModel)]="receivedProduct.receivedProductType" id="field_receivedProductType">
                            <option></option>
                            <option value="TANKER">{{'niopdcgatewayApp.ReceivedProductType.TANKER' | translate}}
                            </option>
                            <option value="PIPE">{{'niopdcgatewayApp.ReceivedProductType.PIPE' | translate}}</option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" (change)="search()"
                                name="productId" id="field_productId"
                                [(ngModel)]="receivedProduct.productId"
                        >
                            <option *ngFor="let productOption of products" [ngValue]="productOption.id">
                                {{productOption.title}}
                            </option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <select class="form-control" name="inventoryId" (change)="search()"
                                [(ngModel)]="receivedProduct.inventoryId"
                                id="field_inventoryId">
                            <option *ngFor="let depotOption of depots" [ngValue]="depotOption.id">
                                {{depotOption.title}}
                            </option>
                        </select>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <input class="form-control" (change)="search()"
                               name="receiveSixtyDegree" id="field_receiveSixtyDegree"
                               [(ngModel)]="receivedProduct.receivedSixtyAmount"
                               [numeric]
                        />
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <input class="form-control"
                               name="sendSixtyDegree" id="field_sendSixtyDegree"
                               [(ngModel)]="receivedProduct.sendSixtyAmount"
                               [numeric]
                               search-after-typed (onSearch)="search()"/>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <button class="btn btn-info" (click)="search()">
                            <span class="fa fa-search"></span>
                        </button>
                        <button class=" btn btn-danger" (click)="clear()">
                            <span class="fa fa-remove"></span>
                        </button>
                    </ng-template>
                </p-column>
            </p-row>
        </p-headerColumnGroup>

        <p-column field="receivedProductType"
                  [header]="'niopdcgatewayApp.receivedProduct.receivedProductType' | translate">
            <ng-template let-item="rowData" pTemplate="body">
                <span jhiTranslate="{{'niopdcgatewayApp.ReceivedProductType.' + item.receivedProductType}}">{{item.receivedProductType}}</span>
            </ng-template>
        </p-column>
        <p-column field="productTitle" [header]="'niopdcgatewayApp.receivedProduct.productId' | translate"></p-column>
        <p-column field="inventoryTitle"
                  [header]="'niopdcgatewayApp.receivedProduct.inventoryId' | translate"></p-column>
        <p-column field="receivedSixtyAmount"
                  [header]="'niopdcgatewayApp.receivedProduct.receiveSixtyDegree' | translate"></p-column>
        <p-column field="sendSixtyAmount"
                  [header]="'niopdcgatewayApp.receivedProduct.sendSixtyDegree' | translate"></p-column>
        <p-column class="component">
            <ng-template let-item="rowData" pTemplate="body">
                <div class="btn-group" ngbDropdown placement="right" *ngIf="mainDayDepot && editable">
                    <button type="button" class="btn btn-primary"
                            *jhiHasAnyAuthority="['ROLE_ADMIN', 'EDIT_RECEIVED_PRODUCT']"
                            [disabled]="!editable"
                            replaceUrl="true"
                            [routerLink]="['/', { outlets: { popup: 'received-product/'+ item.id +'/day-depot/'+dayDepotId+ '/edit'} }]">
                        <span class="fa fa-edit"></span>
                        <span jhiTranslate="entity.action.edit">ویرایش</span>
                    </button>

                    <button class="btn btn-primary" ngbDropdownToggle></button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item"
                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'VIEW_RECEIVED_PRODUCT']"
                                replaceUrl="true"
                                [routerLink]="['/', { outlets: { popup: 'received-product/'+ item.id +'/day-depot/'+dayDepotId+ '/view'} }]">
                            <span class="fa fa-eye"></span>
                            <span jhiTranslate="entity.action.view">نمایش</span>
                        </button>
                        <button class="dropdown-item"
                                *jhiHasAnyAuthority="['ROLE_ADMIN', 'DELETE_RECEIVED_PRODUCT']"
                                replaceUrl="true"
                                [routerLink]="['/', { outlets: { popup: 'received-product/'+ item.id + '/delete'} }]">
                            <span class="fa fa-remove"></span>
                            <span jhiTranslate="entity.action.delete">delete</span>
                        </button>

                    </div>
                </div>
                <ng-container *ngIf="mainDayDepot && !editable">
                    <button
                        *jhiHasAnyAuthority="['ROLE_ADMIN', 'VIEW_RECEIVED_PRODUCT']"
                        type="button" class="btn btn-primary"
                        replaceUrl="true"
                        [routerLink]="['/', { outlets: { popup: 'received-product/'+ item.id +'/day-depot/'+dayDepotId+ '/view'} }]">

                        <span jhiTranslate="entity.action.view">ویرایش</span>
                    </button>
                </ng-container>
            </ng-template>
        </p-column>
    </p-dataTable>

</div>
