
<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="manufacture.id==null" class="modal-title" id="createLabel" jhiTranslate="niopdcgatewayApp.manufacture.home.createLabel">
            Create</h4>
        <h4 *ngIf="manufacture.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="niopdcgatewayApp.manufacture.home.createOrEditLabel">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="niopdcgatewayApp.manufacture.home.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.manufacture.name" for="field_name">Name</label>
                    <input [disabled]="isView" type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="manufacture.name" required />
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                           [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                           This field is required.
                        </small>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
