<div>
    <div class="input-group">
        <input #inp class="textInput form-control" style="border:0; height: unset;;"
               [readonly]="!disabled" [disabled]="disabled"
               [ngModel]="(multiSelect) ? ((selects && selects.length && selects.length > 0) ? selects.length + ' مورد انتخاب شد' : 'موردی انتخاب نشده است') : (selects ? selects.sellPrice: '')"
               (focus)="showTable()">
        <a *ngIf="!disabled" class="input-group-append btn btn-outline-secondary rtl-btn" (click)="showTable()">
            <span class="fa fa-search"></span>
        </a>
    </div>
    <div [style.visibility]="!overlayVisible ? 'collapse' : 'visible'"
         [style.height]="!overlayVisible ? '0' : 'none'"
         [style.overflow]="!overlayVisible ? 'hidden' : 'visible'"
         [style.width]="widthGrid" style="padding: 0;"
         class="d-inline-block rounded dataGrid">

        <p-dataTable [value]="tagRates"
                     [selectionMode]="multiSelect ? 'multiple' : 'single'"
                     [(selection)]="selects"
                     (onRowUnselect)="onSelect($event, false)"
                     (onRowSelect)="onSelect($event, true)"
                     [lazy]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,totalItems]"
                     [paginator]="true" [responsive]="true" [stacked]="false"
                     [totalRecords]="totalItems" (onLazyLoad)="loadLazy($event)">
            <p-header>
                <p-header>
                    <button class="btn btn-info" (click)="search()">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class=" btn btn-danger" (click)="clear()">
                        <span class="fa fa-remove"></span>
                    </button>
                </p-header>
            </p-header>

            <p-headerColumnGroup>
                <p-row>
                    <p-column [style]="{'width':'38px'}"></p-column>
                    <p-column field="sellPrice" [sortable]="true">
                        <ng-template pTemplate="header">
                            <span jhiTranslate="niopdcgatewayApp.tagRate.sellPrice">Sell Price</span>
                        </ng-template>
                    </p-column>
                    <p-column field="startDate" [sortable]="true">
                        <ng-template pTemplate="header">
                            <span jhiTranslate="niopdcgatewayApp.tagRate.startDate">Start Date</span>
                        </ng-template>
                    </p-column>
                    <p-column field="finishDate" [sortable]="true">
                        <ng-template pTemplate="header">
                            <span jhiTranslate="niopdcgatewayApp.tagRate.finishDate">Finish Date</span>
                        </ng-template>
                    </p-column>
                    <p-column field="locationName" [sortable]="true">
                        <ng-template pTemplate="header">
                            <span jhiTranslate="niopdcgatewayApp.tagRate.location">Location</span>
                        </ng-template>
                    </p-column>
                </p-row>
                <p-row>
                    <p-column></p-column>
                    <p-column>
                        <ng-template pTemplate="header">
                            <input class="form-control"
                                   name="sellPrice" id="field_sellPrice"
                                   [(ngModel)]="tagRate.sellPrice"
                                   search-after-typed (onSearch)="search()"/>
                        </ng-template>
                    </p-column>
                    <p-column>
                        <ng-template pTemplate="header">
                            <ng2-datetimepicker class="form-control" name="startDate"
                                                [rtlActive]="true" time="08:00"
                                                [(ngModel)]="tagRate.startDate">
                            </ng2-datetimepicker>
                        </ng-template>
                    </p-column>
                    <p-column>
                        <ng-template pTemplate="header">
                            <ng2-datetimepicker class="form-control" name="finishDate"
                                                [rtlActive]="true" time="08:00"
                                                [(ngModel)]="tagRate.finishDate">
                            </ng2-datetimepicker>
                        </ng-template>
                    </p-column>
                    <p-column>
                        <ng-template pTemplate="header">
                            <select class="form-control" id="field_location" name="location" (change)="search()"
                                    [(ngModel)]="tagRate.locationId">
                                <option [ngValue]="null"></option>
                                <option *ngFor="let locationOption of locations; trackBy: trackLocationById"
                                        [ngValue]="locationOption.id">{{locationOption.name}}
                                </option>
                            </select>
                        </ng-template>
                    </p-column>
                </p-row>
            </p-headerColumnGroup>

            <p-column [selectionMode]="multiSelect ? 'multiple' : 'single'"></p-column>
            <p-column field="sellPrice" [header]="'niopdcgatewayApp.tagRate.sellPrice' | translate"></p-column>
            <p-column field="startDate" [header]="'niopdcgatewayApp.tagRate.startDate' | translate">
                <ng-template let-item="rowData" pTemplate="body">
                    <span>{{item.startDate | dateTimeJalali}}</span>
                </ng-template>
            </p-column>
            <p-column field="finishDate" [header]="'niopdcgatewayApp.tagRate.finishDate' | translate">
                <ng-template let-item="rowData" pTemplate="body">
                    <span>{{item.finishDate | dateTimeJalali}}</span>
                </ng-template>
            </p-column>
            <p-column field="locationName" [header]="'niopdcgatewayApp.tagRate.location' | translate"></p-column>
        </p-dataTable>
    </div>
</div>


