<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="costElement.id==null" class="modal-title" id="createLabel"
            jhiTranslate="entity.action.create">
            Create</h4>
        <h4 *ngIf="costElement.id!=null && !isView" class="modal-title" id="editLabel"
            jhiTranslate="entity.action.edit">
            Edit</h4>
        <h4 *ngIf="isView" class="modal-title" id="viewLabel" jhiTranslate="entity.action.view">
            View</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.costElement.code" for="field_code">Code</label>
                    <input [disabled]="isView" type="text" class="form-control" name="code" id="field_code"
                           [(ngModel)]="costElement.code" required/>
                    <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.code?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4" *ngIf="costGroup.customerGroup === null">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.costElement.customerGroup"
                           for="field_customerGroup">Customer Group</label>
                    <select [disabled]="isView" class="form-control" name="customerGroup"
                            [(ngModel)]="costElement.customerGroup" id="field_customerGroup" required>
                        <option value="STATION" jhiTranslate="niopdcgatewayApp.CustomerGroup.STATION">
                            SUPPLIER
                        </option>
                        <option value="SELLER" jhiTranslate="niopdcgatewayApp.CustomerGroup.SELLER">
                            CONSUMER
                        </option>
                        <option value="MAJOR_CONSUMER"
                                jhiTranslate="niopdcgatewayApp.CustomerGroup.MAJOR_CONSUMER">
                            SUPPLIER
                        </option>
                        <option value="AIRPLANE" jhiTranslate="niopdcgatewayApp.CustomerGroup.AIRPLANE">
                            AIRLINE
                        </option>
                        <option value="LIQUID_GAS">{{'niopdcgatewayApp.CustomerGroup.LIQUID_GAS' | translate}}
                        </option>
                        <option value="BOUNDARY">{{'niopdcgatewayApp.CustomerGroup.BOUNDARY' | translate}}
                        </option>
                    </select>
                    <div
                        [hidden]="!(editForm.controls.customerGroup?.dirty && editForm.controls.customerGroup?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.customerGroup?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="niopdcgatewayApp.oilTank.productId"
                           for="field_product">Product</label>
                    <p-dropdown [options]="customProducts" [(ngModel)]="selectedProduct"
                                [filter]="true"
                                multiple="false"
                                [style]="{'width':'100%'}"
                                [disabled]="isView"
                                class="form-control"
                                (onChange)="onChangeProduct($event.value)"
                                filterBy="label"
                                id="field_product"
                                name="productId"
                                ngDefaultControl
                                required
                    >
                    </p-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button *ngIf="!isView" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
